<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InstaYa | Registro</title>
    <link rel="stylesheet" href="css/login.css">    
</head>
<body>
    <div class="login-box">
    <img class="avatar" src="./assets/User.png">    
    <h1><b>Iniciar Sesión</b></h1>
    <form>
    <!--USER NAME-->
    <label for="username">Usuario o Correo</label>
    <input type="text"placeholder="Ingrese su correo">
    <!--PASSWORD--> 
    <label for="password">Contraseña</label>
    <input type="text"placeholder="Ingrese su contraseña">
    
    <input type="submit"value="Iniciar Sesión">

    <input type="checkbox"name="myTextEditBox" 
    value="checked"style="margin-left:auto; margin-right:auto">

    <a href="#">Recordarme</a></br>
    <a href="#">Olvidó su contraseña?</a></br>
    <a href="#">Registrarse</a></br> 
    </form>
</div>
</body>
</html>