<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>InstaYa | Registro</title>
    <link rel="stylesheet" href="css/Registro.css">    
</head>
<body>
    <div class="registro-box">
    <img class="avatar" src="./assets/User.png">    
    <h1><b></b>Registrarse</h1>
    <form>
    <!--USER NAME-->
    <label for="username">Usuario</label>
    <input type="text"placeholder="Ingresar Usuario">
    <!--PASSWORD--> 
    <label for="password">Contraseña</label>
    <input type="text"placeholder="Ingresar contraseña">
    <label for="password">Repetir contraseña</label>
    <input type="text"placeholder="Confirmar contraseña">
    <input type="submit"value="Confirmar">

    </form>
</div>
</body>
</html>